* {
    font-family: Nunito, 'Google Sans', sans-serif;
}

QMainWindow {
    background-color: '#24273a';
}

QPushButton {
    border: none;
    border-radius: 8px;
}

QPushButton:hover {
    background-color: '#363a4f';
}

QPushButton:pressed {
    background-color: '#494d64';
}

QScrollArea,
QScrollArea > QWidget > QWidget,
QListView {
    background: transparent;
}

QScrollArea > QWidget > QScrollBar {
    background: palette(base);
}